.weatherRealTime {
  width: 100%;
  border-radius: 10px;
  background: #66BFFF;
  padding: 15px;
  overflow: hidden;
}

.weatherRealTime>div:first-child {
  margin-right: 60px;
}

.temp {
  font-size: 35pt;
  color: white;
  font-weight: 200;
}

.maxMin {
  color: rgba(255,255,255,0.5);
  font-size: 14pt;
}

.maxMin span {
  padding: 0px;
  margin-right: 15px;
}