.calendarDays {
  display: flex;
  font-size: 10pt;
  text-align: center;
  flex-wrap: wrap;
  position: relative;
}
.calendarDays div {
  width: 14.28%;
  color: #999;
  padding: 8px 0px;
}
.calendarDays button {
  border: 0;
  background-color: transparent;
  width: 14.28%;
  padding: 5px 0px;
  display: inline-block;
  text-decoration: none;
  color: black;
  position: relative;
  border-radius: 4px;
}
.calendarDays button.active {
  background: #0286FF;
  border-radius: 5px;
  color: white;
}
.calendarDays button.event:after {
  content: "";
  width: calc(100% - 20px);
  height: 2px;
  background-color: #999;
  position: absolute;
  left: 10px;
  bottom: 2px;
}
.calendarDays button.active.event:after {
  background: white;
}
.calendarDays button:hover:not(.active) {
  background: #afd9ff;
}