.lateralModal {
  position: fixed;
  right: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  max-width: 0px;
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.5s;
}
.lateralModal.active {
  opacity: 1;
  max-width: 100%;
}
.lateralModal.inactive {
  z-index: -999;
}
.lateralModal .contentModal {
  position: fixed;
  right: 0px;
  top: 0px;
  background: white;
  width: 400px;
  height: 100vh;
  padding: 30px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  max-width: 0px;
  overflow: hidden;
  transition: max-width 0.5s;
}
.lateralModal.active .contentModal {
  max-width: 100%;
  overflow: initial;
}
.lateralModal.active .contentModal .space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.lateralModal.active .contentModal .time {
  font-size: 20pt;
  width: 100%;
  border:0px;
  color: #777;
  font-family: 'Roboto';
  outline: none;
}
.lateralModal.active .contentModal .reminderTitle {
  font-size: 20pt;
  font-family: 'Roboto';
  width: 100%;
  border: 0px;
  resize: none;
  outline: none;
}
.lateralModal.active .contentModal .city {
  font-size: 20pt;
  border: 0px;
  width: 100%;
  color: black;
  outline: none;
}
.lateralModal.active .contentModal p {
  font-size: 10pt;
  color: #777;
  margin: 0px;
  padding: 0px;
  margin-bottom: 5px;
}
.lateralModal.active .contentModal label {
  margin-bottom: 20px;
  display: block;
}
.lateralModal.active .contentModal button.color {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  opacity: 0.5;
  border: 2px solid transparent;
  transition: all 0.2s;
  outline: none;
  color: transparent;
  margin-right: 8px;
}
.lateralModal.active .contentModal button.color:hover {
  opacity: 1;
}
.lateralModal.active .contentModal button.color.red {
  background-color: #FF0000;
}
.lateralModal.active .contentModal button.color.blue {
  background-color: #0286FF;
}
.lateralModal.active .contentModal button.color.green {
  background-color: #00ec70;
}
.lateralModal.active .contentModal button.color.yellow {
  background-color: #ecca00;
}
.lateralModal.active .contentModal button.color.active {
  opacity: 1;
  border: 2px solid black;
  box-shadow: 0px 1px 7px -2px rgba(0,0,0,0.7);
}

@media (max-width: 768px) {
  .lateralModal .contentModal {
    max-width: 100vw;
  }
}