.dashboard {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.dashboard .space-between {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 14px 16px 0 16px;
}
.dashboard .space-between button {
  margin-bottom: 16px;
}
.dashboard .calendar {
  display: flex;
  width: 100%;
  color: #777;
  font-size: 10pt;
  flex-flow: row wrap;
  flex-direction: row;
}
.dashboard .calendar h3 {
  margin: 0px;
  padding: 0px;
  color: black;
}
.dashboard .calendar>div {
  padding: 10px;
  border-bottom: 1px solid #EEE;
}

.dashboard .calendar .calendarFooter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 12px;
}
.dashboard .calendar .calendarFooter span {
  font-size: 11pt;
  margin-right: 16px;
}
.dashboard .calendar .calendarFooter button {
  margin: 0;
}

@media (max-width: 768px) {
  .dashboard h1 {
    display: none;
  }
  .dashboard div[class*="col"] {
    width: 100%;
  }
  .dashboard .space-between {
    justify-content: flex-end;
  }
}