@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

html, body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto";
  background-color:#d1daef;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 0px;
  padding: 0px;
}
h1, h2, h3, h4 {
  color: rgba(0,0,0,0.8);
}

.container {
  display: block;
  max-width: 1200px;
  margin: 10px auto;
  border-radius: 10px;
  overflow: hidden;
  min-height: calc(100vh - 20px);
  background: white;
  box-shadow: 0px 5px 35px 0px rgba(0,0,0,0.1);
}

.row {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.space-between-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 8px
}

*[class*="col"] {
  padding: 10px;
}

.col {
  flex-grow: 1;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-12 {
  width: 100%;
}

.col-11 {
  width: 91.66666%;
}

.leftNav {
  background: #ECE9FF;
}

.cityInput {
  background: rgba(255,255,255,0.4);
  border: 0px;
  padding: 10px;
  text-align: center;
  width: 100%;
  border-radius: 10px;
  outline: none;
  font-weight: 200;
  font-family: 'Roboto';
}

@media (max-width: 768px) {
  .container {
    flex-wrap: wrap;
    margin: 0px;
    border-radius: 0px;
    min-height: 100vh;
  }
  .leftNav {
    width: 100%;
  }
}